html {
    background-image: url(design/teglafal.jpg);
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color:rgb(33, 33, 33) ;
}

header {
    background-image: url(design/beer-new_401732638.jpg);
    background-size: cover;
    height: 300px;
    
}

header h1 {
    font-family: Garamond;
    font-size: 32px;
    margin-left: 10px;

}

nav ul a {
    color: orangered;
    text-align: right;
    text-decoration: none;

}

nav ul li {
    list-style-type: none;
}

article img {
    width: 200px;
    float: left;
    height: auto;
}

article ul li {
    margin-left: 20px;
}

footer {
    background-color: aliceblue;
}
footer p {
    color: #000;
    text-align: center;
}